<h2> Blog posts </h2>

<ul>
  {{#each model.blogs as |blog|}}
    {{blog-tile blog=blog}}
  {{/each}}
</ul>

{{new-blog saveBlog2="saveBlog3"}}

<h2> All Reviews </h2>

<ul>
  {{#each model.reviews as |review|}}
    <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>
  {{/each}}
</ul>
